<section class="features">
  <h3 class="title">Pick Your Favorite News Sources</h3>
  <ul class="grid">
    <li class="user-features">
      <i class="fa fa-newspaper-o"></i>
      <h4>Politics</h4>
      <div class="row">
      <div class="col"><label><input type="checkbox" value="http://rss.cnn.com/rss/cnn_allpolitics.rss">CNN</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.foxnews.com/foxnews/politics"> Fox News</label></div>
      <div class="col"><label><input type="checkbox" value="http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml"> New York Times</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.huffingtonpost.com/section/politics/feed"> Huff Post</label></div>
      <div class="col"><label><input type="checkbox" value="http://rssfeeds.usatoday.com/UsatodaycomWashington-TopStories"> USA Today</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.reuters.com/Reuters/PoliticsNews"> Reuters</label></div>
      <div class="col"><label><input type="checkbox" value="https://townhall.com/api/openaccess/news/politics-elections/"> Townhall</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.politico.com/rss/politics08.xml"> Politico</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.feedburner.com/DrudgeReportFeed"> Drudge Report</label></div>
      <div class="col"><label><input type="checkbox" value="http://thehill.com/rss/syndicator/19110"> The Hill</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.washingtontimes.com/rss/headlines/news/inside-politics/"> Washington Times</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.washingtonpost.com/rss/rss_election-2012"> Washington Post</label></div>
      <div class="col"><label><input type="checkbox" value="http://www.wsj.com/xml/rss/3_7041.xml"> WSJ</label></div>

  </div>
    </li>
    <li class="user-features">
      <i class="fa fa-newspaper-o"></i>
      <h4>World News</h4>
      <div class="row">
      <div class="col"><label><input type="checkbox" value="http://rss.cnn.com/rss/cnn_world.rss">CNN</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.foxnews.com/foxnews/world"> Fox News</label></div>
      <div class="col"><label><input type="checkbox" value="http://abcnews.go.com/abcnews/internationalheadlines"> ABC News</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.huffingtonpost.com/section/world-news/feed"> Huff Post</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.cnbc.com/id/100727362/device/rss/rss.html"> CNBC</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.reuters.com/Reuters/worldNews"> Reuters</label></div>
      <div class="col"><label><input type="checkbox" value="https://townhall.com/api/openaccess/news/world/"> Townhall</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.bbci.co.uk/news/world/rss.xml?edition=uk"> BBC</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.washingtonpost.com/rss/world"> Washington Post</label></div>
      <div class="col"><label><input type="checkbox" value="http://www.dailymail.co.uk/articles.rss"> Daily Mail</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.washingtontimes.com/rss/headlines/news/world/"> Washington Times</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.cbsnews.com/latest/rss/world"> CBS</label></div>
      <div class="col"><label><input type="checkbox" value="http://www.wsj.com/xml/rss/3_7085.xml"> WSJ</label></div>

  </div>
    </li>
    <li class="user-features">
      <i class="fa fa-newspaper-o"></i>
      <h4>Tech</h4>
      <div class="row">
      <div class="col"><label><input type="checkbox" value="https://www.techrepublic.com/rssfeeds/articles/"> Tech Republic</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.arstechnica.com/arstechnica/technology-lab"> Ars Technica</label></div>
      <div class="col"><label><input type="checkbox" value="http://rssfeeds.usatoday.com/usatoday-TechTopStories"> USA Today tech</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.reuters.com/reuters/technologyNews"> Reuters</label></div>
      <div class="col"><label><input type="checkbox" value="https://c-8oqtgrjgwu46x24hggfux2ereocix2eeqo.g00.pcmag.com/g00/3_c-8yyy.reoci.eqo_/c-8OQTGRJGWU46x24jvvrux3ax2fx2fhggfu.reoci.eqox2fTuu.curzx2fUgevkqpCtvkengux3fugevkqpKfx3d3697_$/$/$?i10c.ua=1"> PC Mag</label></div>
      <div class="col"><label><input type="checkbox" value="https://townhall.com/api/openaccess/news/sci-tech/"> Townhall</label></div>
      <div class="col"><label><input type="checkbox" value="http://thehill.com/taxonomy/term/27/feed"> The Hill</label></div>
      <div class="col"><label><input type="checkbox" value="http://www.techradar.com/rss"> Tech Radar</label></div>
      <div class="col"><label><input type="checkbox" value="http://feeds.feedburner.com/TechCrunch/startups"> Tech Crunch</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.wired.com/feed/rss"> WIRED</label></div>
      <div class="col"><label><input type="checkbox" value="https://www.technologyreview.com/topnews.rss"> MIT Tech</label></div>

      </div>
    </li>
  </div>

    <div class="submit-button">
      <%= form_tag('/sources', method: "get", id: "submit-form", :action => 'show') do %>
      <%= text_field_tag :search, params[:search], class: "searchbar", type: "hidden"%>
      <%= submit_tag("Submit", class: "search") %>
      <% end %>
    </div>
  </section>

<div class="mobile-posts">
<%@feeds.each do |feed|%>
  <%if feed != nil%>
    <div id="single-link">
      <h3 class="post-title"><%= "#{feed.channel.title}".first(20) %></h3>
      <%feed.items.first(10).each do |item|%>
          <%  @link_tag = "#{item.link}" %>
          <%= link_to "#{item.title}".first(45), @link_tag %>
        <%= link_to save_path(:title => "#{item.title}", :link => "#{item.link}", :description => "#{item.description}"), controller: 'user', action: 'article', method: :post, data: {confirm: "Are you sure?"} do %>
        <input class="post-button" type="button" value="Save Article" confirm="hello">
        <% end %>
            <br>
          <br>
        <%end%>
    <%end%>
  </div>
<%end%>
</div>
