<section class="features">
  <h3 class="title">Pick Your Favorite News Sources</h3>
  <ul class="grid">
    <li class="user-features">
      <i class="fa fa-newspaper-o"></i>
      <h4>Politics</h4>
      <div class="row">
        <input type="checkbox" id="1" value="http://rss.cnn.com/rss/cnn_allpolitics.rss"/>
            <label for="1">CNN</label>

        <input type="checkbox" id="2" value="http://feeds.foxnews.com/foxnews/politics"/>
            <label for="2">Fox News</label>

        <input type="checkbox" id="3" value="http://rss.nytimes.com/services/xml/rss/nyt/HomePage.xml"/>
            <label for="3">NY Times</label>

        <input type="checkbox" id="4" value="https://www.huffingtonpost.com/section/politics/feed"/>
            <label for="4">Huff Post</label>

        <input type="checkbox" id="5" value="http://rssfeeds.usatoday.com/UsatodaycomWashington-TopStories"/>
            <label for="5">USA Today</label>

        <input type="checkbox" id="6" value="http://feeds.reuters.com/Reuters/PoliticsNews"/>
            <label for="6">Reuters</label>

        <input type="checkbox" id="7" value="https://townhall.com/api/openaccess/news/world/"/>
            <label for="7">Townhall</label>

        <input type="checkbox" id="8" value="https://www.politico.com/rss/politics08.xml"/>
            <label for="8">Politico</label>

        <input type="checkbox" id="9" value="http://feeds.feedburner.com/DrudgeReportFeed"/>
            <label for="9">Drudge</label>

        <input type="checkbox" id="10" value="http://thehill.com/rss/syndicator/19110"/>
            <label for="10">The Hill</label>

        <input type="checkbox" id="11" value="https://www.washingtontimes.com/rss/headlines/news/inside-politics/"/>
            <label for="11">Washington Times</label>

        <input type="checkbox" id="12" value="http://feeds.washingtonpost.com/rss/rss_election-2012"/>
            <label for="12">Washington Post</label>

        <input type="checkbox" id="13" value="http://www.wsj.com/xml/rss/3_7041.xml"/>
            <label for="13">WSJ</label>

  </div>
    </li>
    <li class="user-features">
      <i class="fa fa-newspaper-o"></i>
      <h4>World News</h4>
      <div class="row">
        <input type="checkbox" id="14" value="http://rss.cnn.com/rss/cnn_world.rss"/>
            <label for="14">CNN</label>

        <input type="checkbox" id="15" value="http://feeds.foxnews.com/foxnews/world"/>
            <label for="15">Fox News</label>

        <input type="checkbox" id="16" value="http://abcnews.go.com/abcnews/internationalheadlines"/>
            <label for="16">ABC News</label>

        <input type="checkbox" id="17" value="https://www.huffingtonpost.com/section/world-news/feed"/>
            <label for="17">Huff Post</label>

        <input type="checkbox" id="18" value="https://www.cnbc.com/id/100727362/device/rss/rss.html"/>
            <label for="18">CNBC</label>

        <input type="checkbox" id="19" value="http://feeds.reuters.com/Reuters/worldNews"/>
            <label for="19">Reuters</label>

        <input type="checkbox" id="20" value="https://townhall.com/api/openaccess/news/world/"/>
            <label for="20">Townhall</label>

        <input type="checkbox" id="21" value="http://feeds.bbci.co.uk/news/world/rss.xml?edition=uk"/>
            <label for="21">BBC News</label>

        <input type="checkbox" id="22" value="http://feeds.washingtonpost.com/rss/world"/>
            <label for="22">Washington Post</label>

        <input type="checkbox" id="23" value="http://www.dailymail.co.uk/articles.rss"/>
          <label for="23">Daily Mail</label>

        <input type="checkbox" id="24" value="https://www.washingtontimes.com/rss/headlines/news/world/"/>
            <label for="24">Washington Times</label>

        <input type="checkbox" id="25" value="https://www.cbsnews.com/latest/rss/world"/>
            <label for="25">CBS News</label>



  </div>
    </li>
    <li class="user-features">
      <i class="fa fa-newspaper-o"></i>
      <h4>Tech</h4>
      <div class="row">
        <input type="checkbox" id="27" value="https://www.techrepublic.com/rssfeeds/articles/"/>
            <label for="27">Tech Republic</label>

        <input type="checkbox" id="28" value="http://feeds.arstechnica.com/arstechnica/technology-lab"/>
            <label for="28">Ars Technica</label>

        <input type="checkbox" id="29" value="http://rssfeeds.usatoday.com/usatoday-TechTopStories"/>
            <label for="29">USA Today</label>

        <input type="checkbox" id="30" value="http://feeds.reuters.com/reuters/technologyNews"/>
            <label for="30">Reuters</label>

        <input type="checkbox" id="31" value="https://c-8oqtgrjgwu46x24hggfux2ereocix2eeqo.g00.pcmag.com/g00/3_c-8yyy.reoci.eqo_/c-8OQTGRJGWU46x24jvvrux3ax2fx2fhggfu.reoci.eqox2fTuu.curzx2fUgevkqpCtvkengux3fugevkqpKfx3d3697_$/$/$?i10c.ua=1"/>
            <label for="31">PC Mag</label>

        <input type="checkbox" id="32" value="https://townhall.com/api/openaccess/news/sci-tech/"/>
            <label for="32">Town Hall</label>

        <input type="checkbox" id="33" value="http://thehill.com/taxonomy/term/27/feed"/>
            <label for="33">The Hill</label>

        <input type="checkbox" id="34" value="http://www.techradar.com/rss"/>
            <label for="34">Tech Radar</label>

        <input type="checkbox" id="35" value="http://feeds.feedburner.com/TechCrunch/startups"/>
            <label for="35">Tech Crunch</label>

        <input type="checkbox" id="36" value="https://www.wired.com/feed/rss"/>
            <label for="36">Wired</label>

        <input type="checkbox" id="37" value="https://www.technologyreview.com/topnews.rss"/>
            <label for="37">Washington Times</label>

      </div>
    </li>
  </div>

    <div class="submit-button">
      <%= form_tag('/sources', method: "get", id: "submit-form", :action => 'show') do %>
      <%= text_field_tag :search, params[:search], class: "searchbar", type: "hidden"%>
      <%= submit_tag("Submit", class: "search") %>
      <% end %>
    </div>
  </section>

<div class="mobile-posts">
<%@feeds.each do |feed|%>
  <%if feed != nil%>
    <div id="single-link">
      <h3 class="post-title"><%= "#{feed.channel.title}".first(20) %></h3>
      <%feed.items.first(10).each do |item|%>
          <%  @link_tag = "#{item.link}" %>
          <%= link_to "#{item.title}".first(45), @link_tag %>
        <%= link_to save_path(:title => "#{item.title}", :link => "#{item.link}", :description => "#{item.description}"), controller: 'user', action: 'article', method: :post, data: {confirm: "Are you sure?"} do %>
        <input class="post-button" type="button" value="Save Article" confirm="hello">
        <% end %>
            <br>
          <br>
        <%end%>
    <%end%>
  </div>
<%end%>
</div>
